<!DOCTYPE html>

<html>
<title>Jamb</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta name="viewport"
	content="height=device-height, initial-scale=1, minimum-scale=1" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-store" />
<meta http-equiv="expires" content="-1" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<head>

<link rel="stylesheet" type="text/css" th:href="@{css/jamb.css?rndstr=<%= getRandomStr() %>}">
<!-- <link rel="stylesheet" type="text/css" href="../static/css/jamb.css"/>
 --><link rel="icon" th:href="@{/images/favicon.png}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/jamb.js?rndstr=<%= getRandomStr() %>}"></script>
<!-- <script type="text/javascript" src="../static/js/jamb.js"></script>
 --></head>

<header class="header">
	<button class="dice-button" id="dice1" onClick="replyClick(this.id)"></button>
	<button class="dice-button" id="dice2" onClick="replyClick(this.id)"></button>
	<button class="dice-button" id="dice3" onClick="replyClick(this.id)"></button>
	<button class="dice-button" id="dice4" onClick="replyClick(this.id)"></button>
	<button class="dice-button" id="dice5" onClick="replyClick(this.id)"></button>
</header>

<div class="button-container">
	<button class="roll-dice-button" id="roll-dice" onClick="rollDice()">BACI
		KOCKICE</button>

</div>

<div class="grid-container">
	<div class="empty-item"></div>
	<div>
		<img class="image" th:src="@{/images/box/7.bmp}">
	</div>
	<div>
		<img class="image" th:src="@{/images/box/8.bmp}">
	</div>
	<div>
		<img class="image" th:src="@{/images/box/9.bmp}">
	</div>
	<button class="label-ann">NAJAVA</button>
	<div class="empty-item"></div>

	<div>
		<img class="image" th:src="@{/images/box/1.bmp}">
	</div>
	<button class="form-box" id="0" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="13" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="26" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="39" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div>
		<img class="image" th:src="@{/images/box/2.bmp}">
	</div>
	<button class="form-box" id="1" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="14" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="27" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="40" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div>
		<img class="image" th:src="@{/images/box/3.bmp}">
	</div>
	<button class="form-box" id="2" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="15" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="28" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="41" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div>
		<img class="image" th:src="@{/images/box/4.bmp}">
	</div>
	<button class="form-box" id="3" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="16" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="29" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="42" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div>
		<img class="image" th:src="@{/images/box/5.bmp}">
	</div>
	<button class="form-box" id="4" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="17" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="30" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="43" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div>
		<img class="image" th:src="@{/images/box/6.bmp}">
	</div>
	<button class="form-box" id="5" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="18" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="31" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="44" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-gray">SUM</div>
	<div class="sum" id="DOWNWARDS-numberSum"></div>
	<div class="sum" id="UPWARDS-numberSum"></div>
	<div class="sum" id="ANY_DIRECTION-numberSum"></div>
	<div class="sum" id="ANNOUNCEMENT-numberSum"></div>
	<div class="sum" id="numberSum"></div>

	<div class="label-white">MAX</div>
	<button class="form-box" id="6" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="19" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="32" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="45" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-white">MIN</div>
	<button class="form-box" id="7" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="20" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="33" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="46" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-gray">SUM</div>
	<div class="sum" id="DOWNWARDS-diffSum"></div>
	<div class="sum" id="UPWARDS-diffSum"></div>
	<div class="sum" id="ANY_DIRECTION-diffSum"></div>
	<div class="sum" id="ANNOUNCEMENT-diffSum"></div>
	<div class="sum" id="diffSum"></div>

	<div class="label-white">TRIS</div>
	<button class="form-box" id="8" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="21" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="34" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="47" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-white">SKALA</div>
	<button class="form-box" id="9" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="22" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="35" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="48" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-white">FULL</div>
	<button class="form-box" id="10" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="23" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="36" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="49" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-white">POKER</div>
	<button class="form-box" id="11" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="24" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="37" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="50" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-white">JAMB</div>
	<button class="form-box" id="12" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="25" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="38" onClick="fillBox(this.id)"></button>
	<button class="form-box" id="51" onClick="fillBox(this.id)"></button>
	<div class="empty-item"></div>

	<div class="label-gray">SUM</div>
	<div class="sum" id="DOWNWARDS-labelSum"></div>
	<div class="sum" id="UPWARDS-labelSum"></div>
	<div class="sum" id="ANY_DIRECTION-labelSum"></div>
	<div class="sum" id="ANNOUNCEMENT-labelSum"></div>
	<div class="sum" id="labelSum"></div>

	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="sum-final" id="finalSum"></div>
</div>
<div class="button-container">
	<button class="button-bottom" onClick="showRules()">Pravila</button>
	<button class="button-bottom" onClick="showLeaderboard()">TOP</button>
	<button class="button-bottom" onClick="showAllScores()">Rezultati</button>
</div>
</html>
