.game {
  text-align: center;
  background-color: aliceblue;
  padding-top: 2px;
  padding-bottom: 5px;
}
.dice-rack {
  padding-top: 5px;
}
.form {
  padding-top: 5px;
  display: inline-grid;
  text-align: center;
  grid-template-columns: repeat(6, 64px);
  grid-template-rows: repeat(18, 32px);
}
